
body {
    background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
}

section {
    min-height: 90vh;
    padding: 5rem 25%;
    padding-top: 16rem;
    margin-top: 2.5vh;
}

.title {
    width: 100%;
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
    color: white;
    padding: 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
    font-size: 3.5rem;
}

.wrapper {
    width: 100%;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    padding: 30px;
    display: flex;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}


  .wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fec107;
    text-transform: uppercase;
    text-align: center;
  }

 .wrapper .form {
    width: 100%;
 }
 .done img{
    display:block;
    width: 150px;
    height: 150px;
    margin-left:15vw;
 }
 

.wrapper .form .inputfield .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 2.5rem;
    font-weight: 600;
    border: 0px;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

        .wrapper .form .inputfield .btn:hover {
            background: grey;
        }

    .wrapper .form .inputfield:last-child {
        margin-bottom: 0;
    }
       